<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <title>ピクロス</title>
    <link rel='stylesheet' href='/stylesheets/reboot.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/stylesheets/edit.css'>
  </head>
  <body>
    <div id="app">
      <h1>編集[<%= id %>]</h1>
      <hr>
      <input type="hidden" id="loaddata" value="<%= loaddata %>">
      <input type="hidden" id="loadsize" value="<%= loadsize %>">
      <table>
        <tr v-for="(row,rowindex) in loaddata">
          <td v-for="(cell,colindex) in row" :id="(rowindex+'_'+colindex)" @click="clickCell(rowindex, colindex)"></td>
        </tr>
      </table>
      <hr>
      <form action="/edit/save" method="post">
        <input type="hidden" id="filename" name="filename" value="<%= id %>">
        <input type="hidden" id="size" name="size" value="<%= loadsize %>">
        <input type="hidden" id="savedata" name="savedata">
        <input type="submit">
      </form>
      <hr>
      <p><a href="/">HOME</a></p>
    </div>
  </body>
  <script src="/javascripts/vue.min.js"></script>
  <script src="/javascripts/edit.js"></script>
</html>
