<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <title>ピクロス</title>
    <link rel='stylesheet' href='/stylesheets/normalize.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <div id="app">

      <h1>HOME</h1>

      <a href="/create" class="btn">作成</a>

      <table class="index_table">
        <% ids.forEach(function(id){ %>
        <tr>
          <td class="index_td"><a href="/play/<%= id %>"><%= id %></a></td>
          <td class="index_td"><a href="/play/<%= id %>" class="btn">遊ぶ</a></td>
          <td class="index_td"><a href="/edit/<%= id %>" class="btn">編集</a></td>
          <td class="index_td"><a href="/delete/<%= id %>" class="btn">削除</a></td>
        </tr>
        <% }) %>
      </table>

    </div>
  </body>
</html>
