<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/index.css'>
  </head>
  <body>
    <div id="app">
      <h1><%= title %></h1>
      <hr>
      <table border="1" align="center">
        <% data.forEach(function(value){ %>
        <tr>
          <td><a href="/play/<%= value %>"><%= value %></a></td>
          <td><a href="/play/<%= value %>">play</a></td>
          <td><a href="/edit/<%= value %>">edit</a></td>
          <td>delete</td>
          <!--
          <td><a href="/delete/<%= value %>">delete</a></td>
          -->
        </tr>
        <% }) %>
      </table>
      <hr>
      <a href="/create">create</a>
    </div>
  </body>
</html>
