<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <title>ピクロス</title>
    <link rel='stylesheet' href='/stylesheets/reboot.css'>
    <link rel='stylesheet' href='/stylesheets/lit.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/stylesheets/index.css'>
  </head>
  <body>
    <div id="app" class="c">

      <div class="row card">
        <div class="col">
          <h1>HOME</h1>
        </div>
      </div>

      <div class="row card">
        <div class="col">
          <a href="/create" class="btn">ステージを作る</a>
        </div>
      </div>

      <div class="row card">
        <div class="col">
          <table>
            <% ids.forEach(function(id){ %>
            <tr>
              <td><a href="/play/<%= id %>"><%= id %></a></td>
              <td><a href="/play/<%= id %>" class="btn">遊ぶ</a></td>
              <td><a href="/edit/<%= id %>" class="btn">編集する</a></td>
              <td><a href="/delete/<%= id %>" class="btn">削除する</a></td>
            </tr>
            <% }) %>
          </table>
        </div>
      </div>

    </div>
  </body>
</html>
