<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <title>ピクロス</title>
    <link rel='stylesheet' href='/stylesheets/reboot.css'>
    <link rel='stylesheet' href='/stylesheets/lit.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/stylesheets/index.css'>
  </head>
  <body>
    <div id="app">
      <h1>HOME</h1>
      <hr>
      <table>
        <% ids.forEach(function(id){ %>
        <tr>
          <td><a href="/play/<%= id %>"><%= id %></a></td>
          <td><a href="/play/<%= id %>">遊ぶ</a></td>
          <td><a href="/edit/<%= id %>">編集する</a></td>
          <td><a href="/delete/<%= id %>">削除する</a></td>
        </tr>
        <% }) %>
      </table>
      <hr>
      <a href="/create">ステージを作る</a>
    </div>
  </body>
</html>
